@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

a
{
    display: inline-block;
}

.logo
{
    width: 150px;
    height: auto;
}


.cabecera
{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #000367;
    background: -webkit-linear-gradient(274deg, #000367 0%, #c2c2c2 50%, #ffffff 100%);
    background: linear-gradient(274deg, #000367 0%, #c2c2c2 50%, #ffffff 100%);
}

.cabecera .link__logo
{
    display: inline-block;
    vertical-align: middle;
}

.cabecera .menu
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 56% ;
}

.cabecera .menu a
{
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: white;  
}

.container
{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.columna
{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-left: -1px;
    margin-right: -1px;
    vertical-align: top;
}

.columna-100
{

    width: 100%;

}

.columna-50
{
    width: 50%;
}

.columna-33
{
    width: 33.33%%;
}

.columna-25
{
    width: 25%%;
}


.banner__home
{
    width: 100%;
    height: auto;
    display: block;
}


